{% extends "base.html" %}

{% block title %}
  Employees
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <h1 class="page-title">
        Employees
      </h1>
      <table class="table table-hover table-bordered">
        <thead class="table-head">
          <tr class="table-row text-center">
            <th class="table-header">Forename</th>
            <th class="table-header">Surname</th>
            <th class="table-header">Birthdate</th>
            <th class="table-header">Salary</th>
            <th class="table-header">Department</th>
            <th class="table-header">Edit</th>
            <th class="table-header">Delete</th>
          </tr>
        </thead>
        <tbody class="table-body">
        {% for employee in employees %}
          <tr class="table-row">
            <td class="table-cell">
              <a href="{{ url_for('show_employee', employee_id=employee.id) }}" class="table-link link-dark">
                {{ employee.forename }}
              </a>
            </td>
            <td class="table-cell">
              <a href="{{ url_for('show_employee', employee_id=employee.id) }}" class="table-link link-dark">
                {{ employee.surname }}
              </a>
            </td>
            <td class="table-cell text-center">
              {{ employee.birthdate }}
            </td>
            <td class="table-cell text-end">
              {{ employee.salary }}
            </td>
            <td class="table-cell text-center">
                {{ employee.department }}
            </td>
            <td class="table-cell text-center">
              <a href="{{ url_for('edit_employee', employee_id=employee.id) }}" class="table-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </a>
            </td>
            <td class="table-cell text-center">
              <a href="{{ url_for('delete_employee', employee_id=employee.id) }}" class="table-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}
